@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
    padding-top: 2rem;
}
canvas {
  position: fixed;     /* cubre toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* deja pasar clicks */
  z-index: 1000;        /* encima de todo, excepto del header*/
}

/*Selector universal*/
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
.portafolio{
    color: #2600ff;
    text-align: center;
    margin-top: 80px;
    height:85vh;
}
.container-header{
    background: linear-gradient(rgba(0, 0, 0, 0.855),rgba(30, 29, 29, 0.745),rgba(37, 36, 36, 0.619));
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}
    .ecard{
        background-color: rgb(0, 0, 0);
        padding: 20px;
        margin: auto;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 10px 20px 20px 20px;
        transition: transform 0.3s ease;
    }
    .ecard img{
        width: 300;
        height: 350px;;
        border-radius: 35px;
    }
    .ecard .contenido{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ecard h2{
        margin: 10px 0 5px;
        font-size: 20px;
        color: #fff;
    }
    .ecard p{
        font-size: 14px;
        color: rgb(149, 149, 149);
        text-align: center;
    }
    .ecard .contenido a{
        align-items: center;
        text-decoration: none;
        color: #fff;
    }

    .ecard:hover{
        transform: scale(1.05);
    }
    /**/
    /**/
.container-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.container-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #2600ff;
    text-decoration: none;
}
.container-header header ul{
    display: flex;
    list-style: none;
}
.container-header header nav ul li a{
    text-align: center;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: 0.5s;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;
}
.container-header header nav ul li a:hover{
    color: #2600ff;
    transform: scale(1.1);}
p{
    text-align: right;
}
footer{
    background: linear-gradient(40deg,
    rgba(0, 0, 0, 0.293),rgb(0, 0, 0),rgba(0, 0, 0, 0.293),black,rgba(0, 0, 0, 0.293));
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
}
footer:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                45deg,
                red,blue,deeppink,blue,
                red,blue,deeppink,blue
            );
            background-size: 800%;
            filter: blur(8px);
            animation: glowing 20s linear infinite;
        }
        @keyframes glowing{
            0% {
                background-position: 0 0;
            }
            50% {
                background-position: 400%;
            }
            100% {
                background-position: 0 0;
            }
        }
footer .redes {
    margin-bottom: 20px;
}
footer .redes a {
    color: #fff;
    display: inline-block;
    border: 1px solid  #2600ff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 10px;
    font-size: 20px;
    transition: 0.3s;
    text-align: center;
    transition: all 0.3s ease;
}
footer .redes a:hover{
    background: #2600ff;
    border-color: #2600ff;
    transform: scale(1.2);}

    @media (max-width: 768px){
    #menu-toggle {
        display: none;
    }

.menu-icon{
    display: block;
    font-size: 28px;
    cursor: pointer;
    color: #2600ff;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 300;
}
.container-header header .nav ul {
    display: none;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    padding: 10px 0;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    z-index: 250;
}

/* Mostrar menú al activar */
#menu-toggle:checked ~ .nav ul {
    display: flex;
}

.container-header header .nav ul li {
    margin:5px 0;
}
.container-header header .nav ul li a {
    color: #fff;
    padding: 10px 15px;
    display: block;
    text-align: left;
}
    }